#### Import Library

In [1]:
# Import library
import pandas as pd
import random
import numpy as np
from scipy.stats import linregress
import matplotlib.pyplot as plt
import os

import calendar

import datetime
from datetime import date, timedelta 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

#### Load required file

In [2]:

'''
Lets import the daily imputed value using regression max and min file for the 
average calculation
'''

max_daily_1962_temp_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/max_temp/file_max_temp_1962_for_1962_initial_impute.xlsx'

max_daily_1987_temp_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/max_temp/file_max_temp_1987_for_1987_initial_impute.xlsx'

max_daily_2007_temp_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/max_temp/file_max_temp_2007_for_2007_initial_impute.xlsx'


min_daily_1962_temp_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/min_temp/file_Min_temp_1962_for_1962_initial_impute.xlsx'

min_daily_1987_temp_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/min_temp/file_Min_temp_1987_for_1987_initial_impute.xlsx'

min_daily_2007_temp_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/min_temp/file_Min_temp_2007_for_2007_initial_impute.xlsx'

#### Read loaded data file

In [3]:

initial_max_daily_1962_temp = pd.ExcelFile(max_daily_1962_temp_file_path)


initial_max_daily_1987_temp = pd.ExcelFile(max_daily_1987_temp_file_path)


initial_max_daily_2007_temp = pd.ExcelFile(max_daily_2007_temp_file_path)


initial_min_daily_1962_temp = pd.ExcelFile(min_daily_1962_temp_file_path)


initial_min_daily_1987_temp = pd.ExcelFile(min_daily_1987_temp_file_path)


initial_min_daily_2007_temp = pd.ExcelFile(min_daily_2007_temp_file_path)

In [4]:
#For initial max data read

initial_max_daily_1962_temp_dict = {}

for sheet_name in initial_max_daily_1962_temp.sheet_names:
    max_df_1962 =  initial_max_daily_1962_temp.parse(sheet_name)

    initial_max_daily_1962_temp_dict[sheet_name] = max_df_1962



initial_max_daily_1987_temp_dict = {}

for sheet_name in initial_max_daily_1987_temp.sheet_names:
    max_df_1987 =  initial_max_daily_1987_temp.parse(sheet_name)

    initial_max_daily_1987_temp_dict[sheet_name] = max_df_1987



initial_max_daily_2007_temp_dict = {}

for sheet_name in initial_max_daily_2007_temp.sheet_names:
    max_df_2007 =  initial_max_daily_2007_temp.parse(sheet_name)

    initial_max_daily_2007_temp_dict[sheet_name] = max_df_2007

In [5]:
#For initial min data read

initial_min_daily_1962_temp_dict = {}

for sheet_name in initial_min_daily_1962_temp.sheet_names:
    min_df_1962 =  initial_min_daily_1962_temp.parse(sheet_name)

    initial_min_daily_1962_temp_dict[sheet_name] = min_df_1962



initial_min_daily_1987_temp_dict = {}

for sheet_name in initial_min_daily_1987_temp.sheet_names:
    min_df_1987 =  initial_min_daily_1987_temp.parse(sheet_name)

    initial_min_daily_1987_temp_dict[sheet_name] = min_df_1987



initial_min_daily_2007_temp_dict = {}

for sheet_name in initial_min_daily_2007_temp.sheet_names:
    min_df_2007 =  initial_min_daily_2007_temp.parse(sheet_name)

    initial_min_daily_2007_temp_dict[sheet_name] = min_df_2007

In [6]:
print(initial_min_daily_2007_temp_dict)

{'1':    Station  2007-01-07 00:00:00  2007-01-08 00:00:00  2007-01-09 00:00:00  \
0     1016                   10                  8.5                 10.5
1     1027                   10                  8.5                 10.5
2     1123                   10                  8.5                 10.5
3     1124                   10                  8.5                 10.5
4     1219                   10                  8.5                 10.5
5     1222                   10                  8.5                 10.5
6     1327                   10                  8.5                 10.5

   2007-01-10 00:00:00  2007-01-11 00:00:00  2007-01-12 00:00:00  \
0                 11.1                  8.5                   10
1                 11.1                  8.5                   10
2                 11.1                  8.5                   10
3                 11.1                  8.5                   10
4                 11.1                  8.5                   10
5                 11.1                  8.5                   10
6                 11.1                  8.5                   10

   2007-01-13 00:00:00  2007-01-14 00:00:00  2007-01-15 00:00:00  ...  \
0                  8.5                  6.5                  6.5  ...
1                  8.5                  6.5                  6.5  ...
2                  8.5                  6.5                  6.5  ...
3                  8.5                  6.5                  6.5  ...
4                  8.5                  6.5                  6.5  ...
5                  8.5                  6.5                  6.5  ...
6                  8.5                  6.5                  6.5  ...

   2022-01-22 00:00:00  2022-01-23 00:00:00  2022-01-24 00:00:00  \
0            -2.200000            -2.400000            -1.300000
1             7.171213             7.675661             7.765066
2             8.400000             9.000000             9.000000
3             2.500000             3.000000             3.500000
4             9.000000            10.000000            10.500000
5             5.000000             5.500000             5.800000
6             8.500000             8.500000             8.000000

   2022-01-25 00:00:00  2022-01-26 00:00:00  2022-01-27 00:00:00  \
0            -3.000000            -2.500000            -4.900000
1             7.512732             7.719396             6.358088
2             8.600000             8.200000             8.000000
3             3.000000             3.000000             0.500000
4            10.000000            10.300000             9.000000
5             5.500000             5.500000             4.000000
6             8.000000             9.000000             7.000000

   2022-01-28 00:00:00  2022-01-29 00:00:00  2022-01-30 00:00:00  \
0            -4.500000             -3.90000            -2.500000
1             5.208407              5.51276             5.819398
2             6.000000              5.50000             6.400000
3             0.500000              2.00000             3.000000
4             9.500000              7.00000             6.000000
5             2.500000              3.80000             4.500000
6             6.000000              7.00000             7.200000

   2022-01-31 00:00:00
0             -1.80000
1              6.50448
2              6.50000
3              4.20000
4              9.50000
5              4.50000
6              7.50000

[7 rows x 491 columns], '2':    Station  2007-02-01 00:00:00  2007-02-02 00:00:00  2007-02-03 00:00:00  \
0     1016                 10.5                 11.4                 12.5
1     1027                 10.5                 11.4                 12.5
2     1123                 10.5                 11.4                 12.5
3     1124                 10.5                 11.4                 12.5
4     1219                 10.5                 11.4                 12.5
5     1222                 10.5                 11.4                 12.5
6     1327                 10.5                 11.4                 12.5

   2007-02-04 00:00:00  2007-02-05 00:00:00  2007-02-06 00:00:00  \
0                 11.6                  9.4                    8
1                 11.6                  9.4                    8
2                 11.6                  9.4                    8
3                 11.6                  9.4                    8
4                 11.6                  9.4                    8
5                 11.6                  9.4                    8
6                 11.6                  9.4                    8

   2007-02-07 00:00:00  2007-02-08 00:00:00  2007-02-09 00:00:00  ...  \
0                    8                  9.2                    8  ...
1                    8                  9.2                    8  ...
2                    8                  9.2                    8  ...
3                    8                  9.2                    8  ...
4                    8                  9.2                    8  ...
5                    8                  9.2                    8  ...
6                    8                  9.2                    8  ...

   2022-02-19 00:00:00  2022-02-20 00:00:00  2022-02-21 00:00:00  \
0            -1.900000              0.80000            -3.300000
1             8.544159              6.25405             4.996269
2            10.400000              8.00000             6.800000
3             5.500000              3.40000             0.500000
4            10.000000              9.50000            10.000000
5             8.000000              6.40000             3.800000
6            11.000000             10.00000             7.000000

   2022-02-22 00:00:00  2022-02-23 00:00:00  2022-02-24 00:00:00  \
0            -2.000000             4.000000             2.000000
1             6.288758             6.791376             7.219496
2             8.000000             8.000000             9.000000
3             3.200000             5.300000             1.000000
4             9.500000            10.000000             9.500000
5             5.000000             6.200000             8.000000
6             8.000000             9.000000            10.000000

   2022-02-25 00:00:00  2022-02-26 00:00:00  2022-02-27 00:00:00  \
0             1.400000             1.200000             1.500000
1             8.748019             8.896806             8.722433
2            10.600000            11.000000            10.000000
3             6.500000             5.000000             6.500000
4            11.000000            10.500000            11.000000
5             8.000000             8.000000             8.500000
6            11.500000            11.000000            11.000000

   2022-02-28 00:00:00
0             1.200000
1             8.111136
2             9.200000
3             5.500000
4            11.000000
5             9.000000
6            11.500000

[7 rows x 453 columns], '3':    Station  2007-03-01 00:00:00  2007-03-02 00:00:00  2007-03-03 00:00:00  \
0     1016                 11.5                  9.4                  8.5
1     1027                 11.5                  9.4                  8.5
2     1123                 11.5                  9.4                  8.5
3     1124                 11.5                  9.4                  8.5
4     1219                 11.5                  9.4                  8.5
5     1222                 11.5                  9.4                  8.5
6     1327                 11.5                  9.4                  8.5

   2007-03-04 00:00:00  2007-03-05 00:00:00  2007-03-06 00:00:00  \
0                 11.5                 12.5                 12.1
1                 11.5                 12.5                 12.1
2                 11.5                 12.5                 12.1
3                 11.5                 12.5                 12.1
4                 11.5                 12.5                 12.1
5                 11.5                 12.5                 12.1
6                 11.5                 12.5                 12.1

   2007-03-07 00:00:00  2007-03-08 00:00:00  2007-03-09 00:00:00  ...  \
0                 11.4                   12                   12  ...
1                 11.4                   12                   12  ...
2                 11.4                   12                   12  ...
3                 11.4                   12                   12  ...
4                 11.4                   12                   12  ...
5                 11.4                   12                   12  ...
6                 11.4                   12                   12  ...

   2022-03-22 00:00:00  2022-03-23 00:00:00  2022-03-24 00:00:00  \
0            12.000000            10.200000             9.200000
1            15.489031            15.848785            14.960626
2            16.500000            18.000000            17.000000
3            14.000000            13.400000            12.000000
4            10.500000             9.500000             7.500000
5            15.500000            14.500000            15.500000
6            17.500000            18.500000            17.500000

   2022-03-25 00:00:00  2022-03-26 00:00:00  2022-03-27 00:00:00  \
0             7.400000              10.4000             7.200000
1            13.833461              14.3374            14.072175
2            16.000000              15.0000            15.200000
3            10.500000              11.5000            11.000000
4            10.000000              11.5000            11.000000
5            14.000000              15.0000            15.000000
6            16.000000              17.0000            17.500000

   2022-03-28 00:00:00  2022-03-29 00:00:00  2022-03-30 00:00:00  \
0             9.300000             9.500000            10.500000
1            15.946929            16.070109            17.278528
2            18.000000            18.000000            21.000000
3            12.500000            14.500000            15.000000
4            12.000000            11.000000             9.000000
5            15.000000            15.400000            15.500000
6            19.000000            18.500000            18.500000

   2022-03-31 00:00:00
0            10.300000
1            17.364635
2            21.000000
3            15.000000
4            11.000000
5            15.500000
6            18.500000

[7 rows x 497 columns], '4':    Station  2007-04-01 00:00:00  2007-04-02 00:00:00  2007-04-03 00:00:00  \
0     1016                   21                   17                   16
1     1027                   21                   17                   16
2     1123                   21                   17                   16
3     1124                   21                   17                   16
4     1219                   21                   17                   16
5     1222                   21                   17                   16
6     1327                   21                   17                   16

   2007-04-04 00:00:00  2007-04-05 00:00:00  2007-04-06 00:00:00  \
0                   18                 18.5                   18
1                   18                 18.5                   18
2                   18                 18.5                   18
3                   18                 18.5                   18
4                   18                 18.5                   18
5                   18                 18.5                   18
6                   18                 18.5                   18

   2007-04-07 00:00:00  2007-04-08 00:00:00  2007-04-09 00:00:00  ...  \
0                   18                   15                   17  ...
1                   18                   15                   17  ...
2                   18                   15                   17  ...
3                   18                   15                   17  ...
4                   18                   15                   17  ...
5                   18                   15                   17  ...
6                   18                   15                   17  ...

   2022-04-21 00:00:00  2022-04-22 00:00:00  2022-04-23 00:00:00  \
0            12.300000            12.900000             12.60000
1            17.959412            20.767024             19.75903
2            20.000000            21.000000             18.50000
3            13.500000            14.400000             13.00000
4            10.000000            10.000000             11.50000
5            16.000000            16.400000             16.00000
6            18.000000            20.000000             19.00000

   2022-04-24 00:00:00  2022-04-25 00:00:00  2022-04-26 00:00:00  \
0             9.300000             9.000000             9.500000
1            20.248406            28.044402            20.573733
2            18.000000            18.500000            19.500000
3            13.000000            13.500000            14.500000
4            11.000000            11.000000            10.300000
5            16.500000            15.500000            17.000000
6            19.500000            24.000000            20.000000

   2022-04-27 00:00:00  2022-04-28 00:00:00  2022-04-29 00:00:00  \
0             9.300000            10.000000            10.300000
1            18.403933            21.060362            20.966686
2            18.500000            20.500000            21.500000
3            14.500000            14.000000            14.500000
4            11.000000            12.500000            12.000000
5            17.000000            16.000000            17.000000
6            18.500000            19.500000            20.000000

   2022-04-30 00:00:00
0             10.40000
1             18.01725
2             21.30000
3             15.00000
4             12.50000
5             16.00000
6             17.50000

[7 rows x 481 columns], '5':    Station  2007-05-01 00:00:00  2007-05-02 00:00:00  2007-05-03 00:00:00  \
0     1016                 19.5                 20.2                 20.5
1     1027                 19.5                 20.2                 20.5
2     1123                 19.5                 20.2                 20.5
3     1124                 19.5                 20.2                 20.5
4     1219                 19.5                 20.2                 20.5
5     1222                 19.5                 20.2                 20.5
6     1327                 19.5                 20.2                 20.5

   2007-05-04 00:00:00  2007-05-05 00:00:00  2007-05-06 00:00:00  \
0                   18                 20.2                   21
1                   18                 20.2                   21
2                   18                 20.2                   21
3                   18                 20.2                   21
4                   18                 20.2                   21
5                   18                 20.2                   21
6                   18                 20.2                   21

   2007-05-07 00:00:00  2007-05-08 00:00:00  2007-05-09 00:00:00  ...  \
0                 19.8                   19                   19  ...
1                 19.8                   19                   19  ...
2                 19.8                   19                   19  ...
3                 19.8                   19                   19  ...
4                 19.8                   19                   19  ...
5                 19.8                   19                   19  ...
6                 19.8                   19                   19  ...

   2022-05-22 00:00:00  2022-05-23 00:00:00  2022-05-24 00:00:00  \
0             8.700000             8.600000             8.900000
1            19.300732            17.229013            21.017805
2            21.000000            19.000000            19.600000
3            15.000000            12.600000            13.000000
4            11.000000            10.500000            -0.190863
5            16.000000            14.600000            15.800000
6            19.500000            17.500000            20.000000

   2022-05-25 00:00:00  2022-05-26 00:00:00  2022-05-27 00:00:00  \
0             9.500000             9.000000             8.700000
1            22.659868            20.533981            17.980816
2            21.000000            23.800000            18.700000
3            15.000000            13.000000            13.000000
4            -0.284559            -2.873080             1.754953
5            16.600000            15.000000            14.800000
6            21.500000            19.500000            17.500000

   2022-05-28 00:00:00  2022-05-29 00:00:00  2022-05-30 00:00:00  \
0            10.400000            11.500000            12.900000
1            20.021351            21.186861            22.414282
2            22.200000            21.500000            23.400000
3            15.500000            15.000000            16.000000
4             1.891360             3.022560             3.767026
5            16.000000            16.500000            17.500000
6            19.000000            20.500000            21.500000

   2022-05-31 00:00:00
0            12.500000
1            21.455649
2            23.500000
3            16.500000
4             3.782018
5            17.000000
6            21.000000

[7 rows x 497 columns], '6':    Station  2007-06-01 00:00:00  2007-06-02 00:00:00  2007-06-03 00:00:00  \
0     1016            10.036708             9.821946            13.913815
1     1027            20.717869            20.482593            18.195163
2     1123            26.825981            26.939535            20.636335
3     1124            16.500000            16.500000            16.500000
4     1219            -0.140551            -0.244717             9.832640
5     1222            18.225310            18.201580            17.191964
6     1327            21.500000            21.700000            18.500000

   2007-06-04 00:00:00  2007-06-05 00:00:00  2007-06-06 00:00:00  \
0             9.888246            14.413815            14.428012
1            19.619530            18.695163            17.884185
2            24.745193            21.136335            19.829865
3            15.500000            17.000000            16.500000
4             0.505130            10.332640            11.127122
5            17.096751            17.691964            17.060012
6            19.800000            19.000000            18.100000

   2007-06-07 00:00:00  2007-06-08 00:00:00  2007-06-09 00:00:00  ...  \
0            13.768354            12.973090            13.461064  ...
1            19.108934            20.476555            21.767494  ...
2            22.162990            24.746013            26.537627  ...
3            17.000000            17.500000            18.500000  ...
4             8.679724             5.818194             5.551562  ...
5            17.862655            18.713238            19.840590  ...
6            19.500000            21.000000            22.400000  ...

   2022-06-21 00:00:00  2022-06-22 00:00:00  2022-06-23 00:00:00  \
0            12.500000            12.400000            13.400000
1            19.259601            19.000961            23.499564
2            23.500000            23.300000            24.200000
3            17.000000            16.000000            21.600000
4             5.962082             5.584208             5.914703
5            17.800000            17.800000            19.400000
6            20.500000            21.000000            22.500000

   2022-06-24 00:00:00  2022-06-25 00:00:00  2022-06-26 00:00:00  \
0            14.600000            14.000000            13.800000
1            21.304861            19.706937            20.581364
2            24.500000            24.200000            24.400000
3            19.000000            17.000000            17.500000
4             7.842820             7.693862             6.793626

In [7]:
print(initial_max_daily_2007_temp_dict)

{'1':    Station  2007-01-07 00:00:00  2007-01-08 00:00:00  2007-01-09 00:00:00  \
0     1016                 18.1                   19                 18.1
1     1027                 18.1                   19                 18.1
2     1123                 18.1                   19                 18.1
3     1124                 18.1                   19                 18.1
4     1219                 18.1                   19                 18.1
5     1222                 18.1                   19                 18.1
6     1327                 18.1                   19                 18.1

   2007-01-10 00:00:00  2007-01-11 00:00:00  2007-01-12 00:00:00  \
0                   18                 17.5                   17
1                   18                 17.5                   17
2                   18                 17.5                   17
3                   18                 17.5                   17
4                   18                 17.5                   17
5                   18                 17.5                   17
6                   18                 17.5                   17

   2007-01-13 00:00:00  2007-01-14 00:00:00  2007-01-15 00:00:00  ...  \
0                   17                 13.5                   12  ...
1                   17                 13.5                   12  ...
2                   17                 13.5                   12  ...
3                   17                 13.5                   12  ...
4                   17                 13.5                   12  ...
5                   17                 13.5                   12  ...
6                   17                 13.5                   12  ...

   2022-01-22 00:00:00  2022-01-23 00:00:00  2022-01-24 00:00:00  \
0            10.260286             4.900000             5.700000
1            18.844242            19.482411            20.550191
2            20.500000            20.000000            21.800000
3            14.500000            12.500000            15.000000
4            18.000000            19.500000            20.000000
5            14.400000            11.000000            15.000000
6            16.500000            15.000000            17.300000

   2022-01-25 00:00:00  2022-01-26 00:00:00  2022-01-27 00:00:00  \
0             7.400000            11.213710             6.600000
1            22.154753            21.938743            21.173197
2            21.500000            21.500000            22.000000
3            15.000000            17.500000            15.000000
4            21.000000            21.500000            19.000000
5            11.000000            13.800000            13.500000
6            17.500000            18.500000            18.000000

   2022-01-28 00:00:00  2022-01-29 00:00:00  2022-01-30 00:00:00  \
0             5.800000             9.509347              5.20000
1            21.136012            19.403183             21.34013
2            21.500000            20.500000             21.40000
3            14.300000            15.000000             15.00000
4            20.000000            16.000000             18.00000
5            14.000000            13.600000             12.40000
6            18.000000            18.000000             17.50000

   2022-01-31 00:00:00
0             5.600000
1            22.808921
2            24.100000
3            16.000000
4            19.000000
5            15.000000
6            19.000000

[7 rows x 489 columns], '2':    Station  2007-02-01 00:00:00  2007-02-02 00:00:00  2007-02-03 00:00:00  \
0     1016                 20.5                   19                 16.3
1     1027                 20.5                   19                 16.3
2     1123                 20.5                   19                 16.3
3     1124                 20.5                   19                 16.3
4     1219                 20.5                   19                 16.3
5     1222                 20.5                   19                 16.3
6     1327                 20.5                   19                 16.3

   2007-02-04 00:00:00  2007-02-05 00:00:00  2007-02-06 00:00:00  \
0                   15                 12.5                 11.5
1                   15                 12.5                 11.5
2                   15                 12.5                 11.5
3                   15                 12.5                 11.5
4                   15                 12.5                 11.5
5                   15                 12.5                 11.5
6                   15                 12.5                 11.5

   2007-02-07 00:00:00  2007-02-08 00:00:00  2007-02-09 00:00:00  ...  \
0                 15.1                   17                 18.4  ...
1                 15.1                   17                 18.4  ...
2                 15.1                   17                 18.4  ...
3                 15.1                   17                 18.4  ...
4                 15.1                   17                 18.4  ...
5                 15.1                   17                 18.4  ...
6                 15.1                   17                 18.4  ...

   2022-02-19 00:00:00  2022-02-20 00:00:00  2022-02-21 00:00:00  \
0            10.500000             7.600000             7.500000
1            24.766848            22.859098            22.020148
2            25.000000            24.000000            23.000000
3            18.000000            16.500000            15.500000
4            21.500000            20.000000            19.000000
5            17.500000            16.000000            14.800000
6            21.500000            20.000000            19.000000

   2022-02-22 00:00:00  2022-02-23 00:00:00  2022-02-24 00:00:00  \
0              6.20000            12.600000             14.20000
1             23.05039            22.308828             26.28035
2             23.40000            26.000000             27.00000
3             12.00000            19.500000             20.00000
4             18.50000            18.000000             18.00000
5             15.40000            17.000000             19.80000
6             19.50000            18.000000             23.00000

   2022-02-25 00:00:00  2022-02-26 00:00:00  2022-02-27 00:00:00  \
0             11.50000            12.500000            13.300000
1             25.39778            26.643407            26.265923
2             28.00000            27.500000            28.500000
3             19.00000            20.000000            21.500000
4             19.00000            20.000000            21.500000
5             18.60000            19.000000            20.000000
6             21.50000            23.000000            22.500000

   2022-02-28 00:00:00
0            13.700000
1            28.222652
2            28.000000
3            20.600000
4            22.000000
5            20.500000
6            24.000000

[7 rows x 453 columns], '3':    Station  2007-03-01 00:00:00  2007-03-02 00:00:00  2007-03-03 00:00:00  \
0     1016                 16.3                 19.5                 19.5
1     1027                 16.3                 19.5                 19.5
2     1123                 16.3                 19.5                 19.5
3     1124                 16.3                 19.5                 19.5
4     1219                 16.3                 19.5                 19.5
5     1222                 16.3                 19.5                 19.5
6     1327                 16.3                 19.5                 19.5

   2007-03-04 00:00:00  2007-03-05 00:00:00  2007-03-06 00:00:00  \
0                 20.5                   21                 20.5
1                 20.5                   21                 20.5
2                 20.5                   21                 20.5
3                 20.5                   21                 20.5
4                 20.5                   21                 20.5
5                 20.5                   21                 20.5
6                 20.5                   21                 20.5

   2007-03-07 00:00:00  2007-03-08 00:00:00  2007-03-09 00:00:00  ...  \
0                 20.1                 19.2                   21  ...
1                 20.1                 19.2                   21  ...
2                 20.1                 19.2                   21  ...
3                 20.1                 19.2                   21  ...
4                 20.1                 19.2                   21  ...
5                 20.1                 19.2                   21  ...
6                 20.1                 19.2                   21  ...

   2022-03-22 00:00:00  2022-03-23 00:00:00  2022-03-24 00:00:00  \
0            19.400000            16.900000            18.000000
1            30.458771            30.867009            31.144997
2            33.500000            33.500000            33.000000
3            25.700000            25.500000            26.000000
4            22.000000            21.500000            19.000000
5            24.500000            25.000000            25.000000
6            28.000000            28.500000            28.500000

   2022-03-25 00:00:00  2022-03-26 00:00:00  2022-03-27 00:00:00  \
0            19.200000            18.500000            19.500000
1            31.870168            31.646229            31.116251
2            34.000000            34.500000            33.400000
3            26.000000            25.500000            25.500000
4            21.000000            21.000000            21.500000
5            26.400000            25.000000            24.800000
6            30.000000            29.500000            30.000000

   2022-03-28 00:00:00  2022-03-29 00:00:00  2022-03-30 00:00:00  \
0            14.700000            16.200000            16.800000
1            29.872664            29.417982            27.617612
2            33.500000            31.200000            31.500000
3            23.500000            27.000000            22.500000
4            22.000000            21.500000            19.000000
5            24.000000            22.000000            21.000000
6            28.000000            27.500000            24.500000

   2022-03-31 00:00:00
0            17.200000
1            27.954104
2            32.000000
3            24.000000
4            20.000000
5            22.400000
6            23.500000

[7 rows x 497 columns], '4':    Station  2007-04-01 00:00:00  2007-04-02 00:00:00  2007-04-03 00:00:00  \
0     1016                 33.5                 29.2                 27.5
1     1027                 33.5                 29.2                 27.5
2     1123                 33.5                 29.2                 27.5
3     1124                 33.5                 29.2                 27.5
4     1219                 33.5                 29.2                 27.5
5     1222                 33.5                 29.2                 27.5
6     1327                 33.5                 29.2                 27.5

   2007-04-04 00:00:00  2007-04-05 00:00:00  2007-04-06 00:00:00  \
0                 26.8                 24.5                 24.7
1                 26.8                 24.5                 24.7
2                 26.8                 24.5                 24.7
3                 26.8                 24.5                 24.7
4                 26.8                 24.5                 24.7
5                 26.8                 24.5                 24.7
6                 26.8                 24.5                 24.7

   2007-04-07 00:00:00  2007-04-08 00:00:00  2007-04-09 00:00:00  ...  \
0                 25.5                   26                 27.6  ...
1                 25.5                   26                 27.6  ...
2                 25.5                   26                 27.6  ...
3                 25.5                   26                 27.6  ...
4                 25.5                   26                 27.6  ...
5                 25.5                   26                 27.6  ...
6                 25.5                   26                 27.6  ...

   2022-04-21 00:00:00  2022-04-22 00:00:00  2022-04-23 00:00:00  \
0             20.40000            20.200000            20.500000
1             29.49735            28.716097            30.592665
2             35.50000            34.000000            36.500000
3             26.50000            27.200000            28.400000
4             20.00000            20.500000            21.000000
5             25.50000            25.000000            26.900000
6             29.00000            28.500000            31.000000

   2022-04-24 00:00:00  2022-04-25 00:00:00  2022-04-26 00:00:00  \
0            21.700000            22.200000              22.0000
1            31.533612            31.503312              30.7399
2            37.000000            36.000000              36.0000
3            29.000000            28.500000              28.0000
4            22.000000            22.500000              21.0000
5            27.600000            27.500000              26.5000
6            31.000000            31.000000              30.0000

   2022-04-27 00:00:00  2022-04-28 00:00:00  2022-04-29 00:00:00  \
0            21.200000            21.000000            20.800000
1            30.083034            32.120464            29.977035
2            34.600000            36.200000            34.400000
3            27.500000            27.000000            27.000000
4            22.000000            21.000000            20.000000
5            26.500000            25.500000            24.500000
6            30.000000            31.000000            29.000000

   2022-04-30 00:00:00
0            15.700000
1            26.236546
2            26.500000
3            24.000000
4            21.500000
5            22.000000
6            26.500000

[7 rows x 481 columns], '5':    Station  2007-05-01 00:00:00  2007-05-02 00:00:00  2007-05-03 00:00:00  \
0     1016                 30.2                   31                 31.5
1     1027                 30.2                   31                 31.5
2     1123                 30.2                   31                 31.5
3     1124                 30.2                   31                 31.5
4     1219                 30.2                   31                 31.5
5     1222                 30.2                   31                 31.5
6     1327                 30.2                   31                 31.5

   2007-05-04 00:00:00  2007-05-15 00:00:00  2007-05-16 00:00:00  \
0                 26.9                 24.5                 20.6
1                 26.9                 24.5                 20.6
2                 26.9                 24.5                 20.6
3                 26.9                 24.5                 20.6
4                 26.9                 24.5                 20.6
5                 26.9                 24.5                 20.6
6                 26.9                 24.5                 20.6

   2007-05-17 00:00:00  2007-05-18 00:00:00  2007-05-19 00:00:00  ...  \
0                 24.5                 26.5                   26  ...
1                 24.5                 26.5                   26  ...
2                 24.5                 26.5                   26  ...
3                 24.5                 26.5                   26  ...
4                 24.5                 26.5                   26  ...
5                 24.5                 26.5                   26  ...
6                 24.5                 26.5                   26  ...

   2022-05-22 00:00:00  2022-05-23 00:00:00  2022-05-24 00:00:00  \
0            20.600000            17.800000            17.200000
1            27.271723            28.836117            28.027459
2            30.200000            34.400000            32.900000
3            23.000000            23.000000            24.782800
4            19.000000            20.000000            19.304944
5            23.000000            23.500000            24.800000
6            25.000000            29.000000            30.000000

   2022-05-25 00:00:00  2022-05-26 00:00:00  2022-05-27 00:00:00  \
0            17.100000            19.200000            17.600000
1            28.113199            29.541760            29.043541
2            32.700000            32.600000            33.900000
3            22.500000            24.500000            25.500000
4            18.781813            20.752459            19.964901
5            23.000000            24.000000            25.200000
6            28.000000            28.000000            30.000000

   2022-05-28 00:00:00  2022-05-29 00:00:00  2022-05-30 00:00:00  \
0            16.400000            17.200000            19.200000
1            25.728984            27.609346            29.262441
2            31.000000            33.000000            34.200000
3            23.500000            26.500000            25.000000
4            16.907947            18.662816            19.859818
5            22.500000            24.500000            23.000000
6            29.000000            30.500000            29.000000

   2022-05-31 00:00:00
0            19.200000
1            31.007002
2            35.300000
3            25.200000
4            21.806739
5            26.400000
6            30.500000

[7 rows x 487 columns], '6':    Station  2007-06-01 00:00:00  2007-06-02 00:00:00  2007-06-03 00:00:00  \
0     1016                   30                 29.5                   29
1     1027                   30                 29.5                   29
2     1123                   30                 29.5                   29
3     1124                   30                 29.5                   29
4     1219                   30                 29.5                   29
5     1222                   30                 29.5                   29
6     1327                   30                 29.5                   29

   2007-06-04 00:00:00  2007-06-05 00:00:00  2007-06-06 00:00:00  \
0                 25.5                 23.5                 22.5
1                 25.5                 23.5                 22.5
2                 25.5                 23.5                 22.5
3                 25.5                 23.5                 22.5
4                 25.5                 23.5                 22.5
5                 25.5                 23.5                 22.5
6                 25.5                 23.5                 22.5

   2007-06-07 00:00:00  2007-06-08 00:00:00  2007-06-09 00:00:00  ...  \
0                   24            11.595095            22.265227  ...
1                   24            33.613145            26.973790  ...
2                   24            39.775723            28.308674  ...
3                   24            22.000000            24.500000  ...
4                   24            20.287072            24.083243  ...
5                   24            21.149876            24.294444  ...
6                   24            29.100000            26.000000  ...

   2022-06-21 00:00:00  2022-06-22 00:00:00  2022-06-23 00:00:00  \
0            17.200000            19.600000            19.400000
1            28.960307            31.796812            31.409859
2            31.200000            34.300000            34.800000
3            23.500000            25.500000            26.500000
4            23.116234            25.147129            22.495256
5            23.000000            24.500000            21.600000
6            28.500000            31.000000            29.000000

   2022-06-24 00:00:00  2022-06-25 00:00:00  2022-06-26 00:00:00  \
0            20.500000            19.500000            19.400000
1            31.667256            32.950047            31.290861
2            35.000000            34.300000            34.500000
3            27.600000            27.000000            25.500000
4            23.700567            23.929799            23.125947

In [8]:


initial_1962_average_dict = {}

# Iterate through the keys in both dictionaries
for key in initial_max_daily_1962_temp_dict.keys():
    if key in initial_min_daily_1962_temp_dict:
        
        df_max = initial_max_daily_1962_temp_dict[key]
        #df_max1 =df_max.reset_index()
        df_min = initial_min_daily_1962_temp_dict[key]
        #df_min1 = df_min.reset_index()
        # Calculate the average of the DataFrames with the same key
        averaged_df = (df_max + df_min ) / 2
        
        # Ensure the averaged DataFrame has the same column names and index as dict1
        #averaged_df.columns = initial_max_daily_2007_temp_dict[key].columns
        #averaged_df.index = initial_max_daily_2007_temp_dict[key].index
        
        #print(df_max)
        averaged_df = averaged_df.set_index('Station')
        
        df_melted_df = averaged_df.reset_index().melt(id_vars =['Station'], 
                                    var_name ='Date', value_name = 'avg T')
    
        df_melted_df = df_melted_df[['Date', 'Station','avg T']]
    
        initial_1962_average_dict[key] = df_melted_df




initial_1987_average_dict = {}

# Iterate through the keys in both dictionaries
for key in initial_max_daily_1987_temp_dict.keys():
    if key in initial_min_daily_1987_temp_dict:
        
        df_max = initial_max_daily_1987_temp_dict[key]
        #df_max1 =df_max.reset_index()
        df_min = initial_min_daily_1987_temp_dict[key]
        #df_min1 = df_min.reset_index()
        # Calculate the average of the DataFrames with the same key
        averaged_df = (df_max + df_min ) / 2
        
        # Ensure the averaged DataFrame has the same column names and index as dict1
        #averaged_df.columns = initial_max_daily_2007_temp_dict[key].columns
        #averaged_df.index = initial_max_daily_2007_temp_dict[key].index
        
        #print(df_max)
        averaged_df = averaged_df.set_index('Station')
        
        df_melted_df = averaged_df.reset_index().melt(id_vars =['Station'], 
                                    var_name ='Date', value_name = 'avg T')
    
        df_melted_df = df_melted_df[['Date', 'Station','avg T']]
    
        initial_1987_average_dict[key] = df_melted_df




initial_2007_average_dict = {}

# Iterate through the keys in both dictionaries
for key in initial_max_daily_2007_temp_dict.keys():
    if key in initial_min_daily_2007_temp_dict:
        
        df_max = initial_max_daily_2007_temp_dict[key]
        #df_max1 =df_max.reset_index()
        df_min = initial_min_daily_2007_temp_dict[key]
        #df_min1 = df_min.reset_index()
        # Calculate the average of the DataFrames with the same key
        averaged_df = (df_max + df_min ) / 2
        
        # Ensure the averaged DataFrame has the same column names and index as dict1
        #averaged_df.columns = initial_max_daily_2007_temp_dict[key].columns
        #averaged_df.index = initial_max_daily_2007_temp_dict[key].index
        
        #print(df_max)
        averaged_df = averaged_df.set_index('Station')
        
        df_melted_df = averaged_df.reset_index().melt(id_vars =['Station'], 
                                    var_name ='Date', value_name = 'avg T')
    
        df_melted_df = df_melted_df[['Date', 'Station','avg T']]
    
        initial_2007_average_dict[key] = df_melted_df

In [9]:

concatenated_df_filled_1962 = pd.concat(initial_1962_average_dict.values(), ignore_index=True)


concatenated_df_filled_1987 = pd.concat(initial_1987_average_dict.values(), ignore_index=True)


concatenated_df_filled_2007 = pd.concat(initial_2007_average_dict.values(), ignore_index=True)

In [10]:
print(concatenated_df_filled_2007)

            Date  Station  avg T
0     2007-01-07   1016.0  14.05
1     2007-01-07   1027.0  14.05
2     2007-01-07   1123.0  14.05
3     2007-01-07   1124.0  14.05
4     2007-01-07   1219.0  14.05
...          ...      ...    ...
40861 2022-12-31   1123.0  15.00
40862 2022-12-31   1124.0   9.25
40863 2022-12-31   1219.0   7.50
40864 2022-12-31   1222.0  11.45
40865 2022-12-31   1327.0  14.25

[40866 rows x 3 columns]

#### For annual average

In [11]:

concatenated_df_filled_1962['Year'] = concatenated_df_filled_1962['Date'].dt.year

# Group the data by 'Year' and calculate the annual maximum 'Max T'
annual_max_temp_1962 = concatenated_df_filled_1962.groupby(
    ['Station', 'Year'])['avg T'].mean().reset_index()

annual_max_temp_1962 = annual_max_temp_1962.pivot(index = 'Station', columns=['Year'], values='avg T')



concatenated_df_filled_1987['Year'] = concatenated_df_filled_1987['Date'].dt.year

# Group the data by 'Year' and calculate the annual maximum 'Max T'
annual_max_temp_1987 = concatenated_df_filled_1987.groupby(
    ['Station', 'Year'])['avg T'].mean().reset_index()

annual_max_temp_1987 = annual_max_temp_1987.pivot(index = 'Station', columns=['Year'], values='avg T')



concatenated_df_filled_2007['Year'] = concatenated_df_filled_2007['Date'].dt.year

# Group the data by 'Year' and calculate the annual maximum 'Max T'
annual_max_temp_2007 = concatenated_df_filled_2007.groupby(
    ['Station', 'Year'])['avg T'].mean().reset_index()

annual_max_temp_2007 = annual_max_temp_2007.pivot(index = 'Station', columns=['Year'], values='avg T')

'''
annual_avg temp in excel
'''


annual_max_temp_1962.to_excel('G:/01thesis/02workdata/DHM_DATA/Base_worked_data/avg_temp/annual_avg_1962.xlsx', sheet_name='Sheet 1')



annual_max_temp_1987.to_excel('G:/01thesis/02workdata/DHM_DATA/Base_worked_data/avg_temp/annual_avg_1987.xlsx', sheet_name='Sheet 1')



annual_max_temp_2007.to_excel('G:/01thesis/02workdata/DHM_DATA/Base_worked_data/avg_temp/annual_avg_2007.xlsx', sheet_name='Sheet 1')

#### For monthly average

In [12]:


concatenated_df_filled_1962['Month'] = concatenated_df_filled_1962['Date'].dt.month
concatenated_df_filled_1962['Year'] = concatenated_df_filled_1962['Date'].dt.year

# Group by 'Station', month, and year, and calculate the maximum 'Max T'
grouped_1962_1 = concatenated_df_filled_1962.groupby(['Station', 'Month', 'Year'])['avg T'].mean().reset_index()

# Create a dictionary to store DataFrames for each month
filled_1962_monthly_max_dict = {}
for month in range(1, 13):
    # Filter data for the current month
    monthly_data = grouped_1962_1[grouped_1962_1['Month'] == month]
    
    
    monthly_avg_temp = monthly_data.pivot(index = 'Station', columns=['Year'], values='avg T')
    
    filled_1962_monthly_max_dict[calendar.month_name[month]] = monthly_avg_temp

In [13]:


concatenated_df_filled_1987['Month'] = concatenated_df_filled_1987['Date'].dt.month
concatenated_df_filled_1987['Year'] = concatenated_df_filled_1987['Date'].dt.year

# Group by 'Station', month, and year, and calculate the maximum 'Max T'
grouped_1987_1 = concatenated_df_filled_1987.groupby(['Station', 'Month', 'Year'])['avg T'].mean().reset_index()

# Create a dictionary to store DataFrames for each month
filled_1987_monthly_max_dict = {}
for month in range(1, 13):
    # Filter data for the current month
    monthly_data = grouped_1987_1[grouped_1987_1['Month'] == month]
    
    
    monthly_avg_temp = monthly_data.pivot(index = 'Station', columns=['Year'], values='avg T')
    
    filled_1987_monthly_max_dict[calendar.month_name[month]] = monthly_avg_temp

In [14]:

concatenated_df_filled_2007['Month'] = concatenated_df_filled_2007['Date'].dt.month
concatenated_df_filled_2007['Year'] = concatenated_df_filled_2007['Date'].dt.year

# Group by 'Station', month, and year, and calculate the maximum 'Max T'
grouped_2007_1 = concatenated_df_filled_2007.groupby(['Station', 'Month', 'Year'])['avg T'].mean().reset_index()

# Create a dictionary to store DataFrames for each month
filled_2007_monthly_max_dict = {}
for month in range(1, 13):
    # Filter data for the current month
    monthly_data = grouped_2007_1[grouped_2007_1['Month'] == month]
    
    
    monthly_avg_temp = monthly_data.pivot(index = 'Station', columns=['Year'], values='avg T')
    
    filled_2007_monthly_max_dict[calendar.month_name[month]] = monthly_avg_temp



#Here, Export of data of month wise monthly max temp from the 1962
month_wise_monthly_Max_df_filled_1962_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/avg_temp/monthly_avg_1962.xlsx'

#Create an Excel writer object
month_wise_1962_monthly_temp_excel_writer = pd.ExcelWriter(month_wise_monthly_Max_df_filled_1962_file_path, engine='xlsxwriter')

for month_name, month_df in filled_1962_monthly_max_dict.items():
    month_df.to_excel(month_wise_1962_monthly_temp_excel_writer,
                                sheet_name=month_name,
                                index = True)
month_wise_1962_monthly_temp_excel_writer.close()


#Here, Export of data of month wise monthly max temp from the 1987
month_wise_monthly_Max_df_filled_1987_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/avg_temp/monthly_avg_1987.xlsx'

#Create an Excel writer object
month_wise_1987_monthly_temp_excel_writer = pd.ExcelWriter(month_wise_monthly_Max_df_filled_1987_file_path, engine='xlsxwriter')

for month_name, month_df in filled_1987_monthly_max_dict.items():
    month_df.to_excel(month_wise_1987_monthly_temp_excel_writer,
                                sheet_name=month_name,
                                index = True)
month_wise_1987_monthly_temp_excel_writer.close()



#Here, Export of data of month wise monthly max temp from the 2007
month_wise_monthly_Max_df_filled_2007_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/avg_temp/monthly_avg_2007.xlsx'

#Create an Excel writer object
month_wise_2007_monthly_temp_excel_writer = pd.ExcelWriter(month_wise_monthly_Max_df_filled_2007_file_path, engine='xlsxwriter')

for month_name, month_df in filled_2007_monthly_max_dict.items():
    month_df.to_excel(month_wise_2007_monthly_temp_excel_writer,
                                sheet_name=month_name,
                                index = True)
month_wise_2007_monthly_temp_excel_writer.close()

#### For seasonal average

In [15]:
seasons_df = ['Winter','Premonsoon','Monsoon', 'Postmonsoon' ]
#creating functions to extract seasonal data
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Premonsoon'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    elif month in [10, 11]:
        return 'Postmonsoon'
    else:
        return 'Unknown'

In [16]:

seasonal_df_1962 = concatenated_df_filled_1962
seasonal_df_1962['Season'] = seasonal_df_1962['Month'].apply(get_season)


seasonal_df_1987 = concatenated_df_filled_1987

seasonal_df_1987['Season'] = seasonal_df_1987['Month'].apply(get_season)


seasonal_df_2007 = concatenated_df_filled_2007

seasonal_df_2007['Season'] = seasonal_df_2007['Month'].apply(get_season)

In [17]:


# Group by 'Station', month, and year, and calculate the maximum 'Max T'
grouped_1962_seasonal = seasonal_df_1962.groupby(['Station', 'Season', 'Year'])['avg T'].mean().reset_index()

# Create a dictionary to store DataFrames for each month
filled_1962_seasonal_avg_dict = {}
for season in seasons_df:
    # Filter data for the current month
    seasonal_data = grouped_1962_seasonal[grouped_1962_seasonal['Season'] == season]
    
    
    seasonal_avg_temp = seasonal_data.pivot(index = 'Station', columns=['Year'], values='avg T')
    
    filled_1962_seasonal_avg_dict[season] = seasonal_avg_temp



# Group by 'Station', month, and year, and calculate the maximum 'Max T'
grouped_1987_seasonal = seasonal_df_1987.groupby(['Station', 'Season', 'Year'])['avg T'].mean().reset_index()

# Create a dictionary to store DataFrames for each month
filled_1987_seasonal_avg_dict = {}
for season in seasons_df:
    # Filter data for the current month
    seasonal_data = grouped_1987_seasonal[grouped_1987_seasonal['Season'] == season]
    
    
    seasonal_avg_temp = seasonal_data.pivot(index = 'Station', columns=['Year'], values='avg T')
    
    filled_1987_seasonal_avg_dict[season] = seasonal_avg_temp



# Group by 'Station', month, and year, and calculate the maximum 'Max T'
grouped_2007_seasonal = seasonal_df_2007.groupby(['Station', 'Season', 'Year'])['avg T'].mean().reset_index()

# Create a dictionary to store DataFrames for each month
filled_2007_seasonal_avg_dict = {}
for season in seasons_df:
    # Filter data for the current month
    seasonal_data = grouped_2007_seasonal[grouped_2007_seasonal['Season'] == season]
    
    
    seasonal_avg_temp = seasonal_data.pivot(index = 'Station', columns=['Year'], values='avg T')
    
    filled_2007_seasonal_avg_dict[season] = seasonal_avg_temp

#Here, Export of data of month wise monthly max temp from the 1962
seasonal_avg_1962_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/avg_temp/seasonal_avg_1962.xlsx'

#Create an Excel writer object
season_wise_1962_excel_writer = pd.ExcelWriter(seasonal_avg_1962_file_path, engine='xlsxwriter')

for season, seasons_df in filled_1962_seasonal_avg_dict.items():
    seasons_df.to_excel(season_wise_1962_excel_writer,
                                sheet_name=season,
                                index = True)
season_wise_1962_excel_writer.close()


seasonal_avg_1987_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/avg_temp/seasonal_avg_1987.xlsx'

#Create an Excel writer object
season_wise_1987_excel_writer = pd.ExcelWriter(seasonal_avg_1987_file_path, engine='xlsxwriter')

for season, seasons_df in filled_1987_seasonal_avg_dict.items():
    seasons_df.to_excel(season_wise_1987_excel_writer,
                                sheet_name=season,
                                index = True)
season_wise_1987_excel_writer.close()

seasonal_avg_2007_file_path = 'G:/01thesis/02workdata/DHM_DATA/Base_worked_data/avg_temp/seasonal_avg_2007.xlsx'

#Create an Excel writer object
season_wise_2007_excel_writer = pd.ExcelWriter(seasonal_avg_2007_file_path, engine='xlsxwriter')

for season, seasons_df in filled_2007_seasonal_avg_dict.items():
    seasons_df.to_excel(season_wise_2007_excel_writer,
                                sheet_name=season,
                                index = True)
season_wise_2007_excel_writer.close()

In [18]:
print(filled_1962_seasonal_avg_dict)

{'Winter': Year         1962       1963       1964       1965       1966       1967  \
Station
1103.0   9.764424  10.171067   9.489432   8.990321   8.292887   7.806908
1206.0   9.451685  10.495000  10.024725  10.616667  10.835540  10.556127
1405.0   9.792697  10.454444   9.734615  10.026667  10.456633  10.215556

Year          1968       1969       1970       1971  ...       2013  \
Station                                              ...
1103.0    7.215470   7.533761   6.918889   7.172778  ...   8.003889
1206.0   10.034781  10.803158  10.249159  10.538333  ...  11.060601
1405.0    9.206752  10.124444   9.788889   9.817778  ...  10.582216

Year          2014       2015       2016       2017       2018       2019  \
Station
1103.0    8.380000   7.976667   8.821978   8.717778   7.808889   7.486111
1206.0   11.462829  12.081111  11.326360  13.341018  11.862038  11.530778
1405.0   11.457222  11.430556  10.773626  12.356316  11.207778  10.742222

Year          2020       2021       2022
Station
1103.0    7.782418   8.412222   7.776111
1206.0   10.939932  12.381667  11.200757
1405.0   10.533516  11.312778  10.331111

[3 rows x 61 columns], 'Premonsoon': Year          1962       1963       1964       1965       1966       1967  \
Station
1103.0   15.999417  15.295125  16.326348  15.524551  14.926087  14.378351
1206.0   16.583696  15.911957  17.359239  16.761413  18.222880  16.336674
1405.0   16.509783  15.787500  16.795652  16.061957  17.880435  15.515755

Year          1968       1969       1970       1971  ...       2013  \
Station                                              ...
1103.0   15.787583  14.202717  14.468478  13.794022  ...  15.256522
1206.0   17.695657  18.288043  17.804348  16.363043  ...  17.950271
1405.0   16.585870  17.335870  17.296688  15.717391  ...  17.719565

Year          2014       2015       2016       2017       2018       2019  \
Station
1103.0   16.589942  14.845109  15.822283  14.642935  14.799457  14.698913
1206.0   18.535326  18.322776  19.856876  18.113587  18.334783  18.445109
1405.0   17.732609  17.674457  18.534783  17.490217  17.579348  17.319344

Year          2020       2021       2022
Station
1103.0   14.066848  14.560870  16.360326
1206.0   17.175000  18.534432  19.879891
1405.0   16.645652  17.029891  18.632065

[3 rows x 61 columns], 'Monsoon': Year          1962       1963       1964       1965       1966       1967  \
Station
1103.0   20.675276  20.292470  20.516864  19.851164  19.829107  20.494826
1206.0   20.667623  19.878689  20.399590  19.712705  20.164816  20.558197
1405.0   20.743852  20.781557  20.688525  20.064754  20.478658  20.723361

Year          1968       1969       1970       1971  ...       2013  \
Station                                              ...
1103.0   20.404025  18.576230  19.427867  18.603279  ...  20.400000
1206.0   20.252173  20.620082  20.594672  20.127459  ...  21.181115
1405.0   20.511066  20.672550  20.831557  20.477049  ...  21.793852

Year          2014       2015       2016       2017       2018       2019  \
Station
1103.0   20.458197  20.480738  20.517623  20.581967  20.568852  20.667623
1206.0   21.112295  21.432787  21.444757  21.320082  21.586475  21.650728
1405.0   22.118033  21.990984  22.000820  22.353279  22.176639  21.970492

Year          2020       2021       2022
Station
1103.0   20.701230  20.446311  20.478099
1206.0   21.068443  21.325706  21.548361
1405.0   21.728689  21.591803  21.632787

[3 rows x 61 columns], 'Postmonsoon': Year          1962       1963       1964       1965       1966       1967  \
Station
1103.0   14.267456  14.569664  15.899787  13.631062  14.452596  11.739344
1206.0   15.569672  14.915574  16.255738  15.053279  15.049180  14.950000
1405.0   15.106557  14.768852  16.074590  14.437705  14.803279  13.690164

Year          1968       1969       1970       1971  ...       2013  \
Station                                              ...
1103.0   13.304791  11.781148  12.646168  12.964754  ...  13.665574
1206.0   15.681148  15.718852  16.437705  15.674590  ...  16.245082
1405.0   14.786066  15.277049  15.631148  14.971311  ...  16.150820

Year          2014       2015       2016       2017       2018       2019  \
Station
1103.0   14.791026  14.212295  14.190984  14.355738  12.851639  14.056557
1206.0   17.054918  17.454098  17.582207  17.695760  16.810656  17.012295
1405.0   16.588525  16.714754  17.089344  17.257377  16.013115  16.890984

Year          2020       2021       2022
Station
1103.0   14.513934  14.054918  13.868852
1206.0   17.840984  16.936885  17.344262
1405.0   17.323770  16.642623  15.975410

[3 rows x 61 columns]}