In [2]:
import pandas as pd
import openpyxl 
import numpy as np
import matplotlib.pyplot as plt

In [7]:


max_9_11 = pd.read_csv(r'C:\Users\Administrator\Desktop\New folder\max_9_11.csv')

max_12_14 = pd.read_csv(r'C:\Users\Administrator\Desktop\New folder\max_12_14.csv')


min_9_11 = pd.read_csv(r'C:\Users\Administrator\Desktop\New folder\min_9_11.csv')


min_12_14 = pd.read_csv(r'C:\Users\Administrator\Desktop\New folder\min_12_14.csv')

In [8]:


print(max_9_11)

print(max_12_14)

print(min_9_11)

print(min_12_14)

        gsid  index_no    station       district  year  month  day  max_temp
0        321      1027  Bahrabise  Sindhupalchok  2011      7   10      31.0
1        321      1027  Bahrabise  Sindhupalchok  2011      7   11      34.0
2        321      1027  Bahrabise  Sindhupalchok  2011      7   12      29.0
3        321      1027  Bahrabise  Sindhupalchok  2011      7   13      29.3
4        321      1027  Bahrabise  Sindhupalchok  2011      7   14      32.5
...      ...       ...        ...            ...   ...    ...  ...       ...
394376   297      1003    Trisuli        Nuwakot  1980     12   27      24.4
394377   297      1003    Trisuli        Nuwakot  1980     12   28      24.0
394378   297      1003    Trisuli        Nuwakot  1980     12   29      24.2
394379   297      1003    Trisuli        Nuwakot  1980     12   30      24.8
394380   297      1003    Trisuli        Nuwakot  1980     12   31      24.6

[394381 rows x 8 columns]
        gsid  index_no         station  district  year  month  day  max_temp
0         86      1204    Aisealukhark   Khotang  2013      1    1      30.3
1         86      1204    Aisealukhark   Khotang  2013      1    2      31.2
2         86      1204    Aisealukhark   Khotang  2013      1    3      32.5
3         86      1204    Aisealukhark   Khotang  2013      1    4      31.5
4         86      1204    Aisealukhark   Khotang  2013      1    5      29.5
...      ...       ...             ...       ...   ...    ...  ...       ...
272955   102      1213  Udayapur Gadhi  Udayapur  2015      7   27      29.4
272956   102      1213  Udayapur Gadhi  Udayapur  2015      7   28      29.0
272957   102      1213  Udayapur Gadhi  Udayapur  2015      7   29      29.8
272958   102      1213  Udayapur Gadhi  Udayapur  2015      7   30      28.0
272959   102      1213  Udayapur Gadhi  Udayapur  2015      7   31      27.2

[272960 rows x 8 columns]
        gsid  index_no    station       district  year  month  day  min_temp
0        321      1027  Bahrabise  Sindhupalchok  2011      7   10      20.0
1        321      1027  Bahrabise  Sindhupalchok  2011      7   11      22.0
2        321      1027  Bahrabise  Sindhupalchok  2011      7   12      21.6
3        321      1027  Bahrabise  Sindhupalchok  2011      7   13      20.0
4        321      1027  Bahrabise  Sindhupalchok  2011      7   14      20.6
...      ...       ...        ...            ...   ...    ...  ...       ...
392242   297      1003    Trisuli        Nuwakot  1980     12   27       8.0
392243   297      1003    Trisuli        Nuwakot  1980     12   28       7.4
392244   297      1003    Trisuli        Nuwakot  1980     12   29      10.0
392245   297      1003    Trisuli        Nuwakot  1980     12   30       7.8
392246   297      1003    Trisuli        Nuwakot  1980     12   31       8.0

[392247 rows x 8 columns]
        gsid  index_no         station  district  year  month  day  min_temp
0         86      1204    Aisealukhark   Khotang  2013      1    1      23.3
1         86      1204    Aisealukhark   Khotang  2013      1    2      22.9
2         86      1204    Aisealukhark   Khotang  2013      1    3      22.6
3         86      1204    Aisealukhark   Khotang  2013      1    4      22.6
4         86      1204    Aisealukhark   Khotang  2013      1    5      23.2
...      ...       ...             ...       ...   ...    ...  ...       ...
268740   102      1213  Udayapur Gadhi  Udayapur  2015      7   27      25.5
268741   102      1213  Udayapur Gadhi  Udayapur  2015      7   28      23.6
268742   102      1213  Udayapur Gadhi  Udayapur  2015      7   29      24.5
268743   102      1213  Udayapur Gadhi  Udayapur  2015      7   30      23.2
268744   102      1213  Udayapur Gadhi  Udayapur  2015      7   31      23.4

[268745 rows x 8 columns]

In [34]:


max_combined = pd.concat([max_9_11, max_12_14], ignore_index=True)

# Concatenate the min_temp DataFrames
min_combined = pd.concat([min_9_11, min_12_14], ignore_index=True)

# Merge the max_temp and min_temp DataFrames on common columns
combined_df = pd.merge(max_combined, min_combined, on=['gsid', 'index_no', 'station', 'district', 'year', 'month', 'day'])


combined_df['Date'] = pd.to_datetime(combined_df[['year', 'month', 'day']])

selected_columns = ['Date', 'index_no', 'max_temp', 'min_temp']

combined_df = combined_df[selected_columns]

# Display the merged DataFrame
print(combined_df)

             Date  index_no  max_temp  min_temp
0      2011-07-10      1027      31.0      20.0
1      2011-07-11      1027      34.0      22.0
2      2011-07-12      1027      29.0      21.6
3      2011-07-13      1027      29.3      20.0
4      2011-07-14      1027      32.5      20.6
...           ...       ...       ...       ...
652019 2015-07-27      1213      29.4      25.5
652020 2015-07-28      1213      29.0      23.6
652021 2015-07-29      1213      29.8      24.5
652022 2015-07-30      1213      28.0      23.2
652023 2015-07-31      1213      27.2      23.4

[652024 rows x 4 columns]

In [26]:
meteorological_stations = pd.read_excel(r'G:\fresh_start\paper\code_paper\main_data\raw_data\Meteorological_station_list.xlsx')
meteorological_stations['Index No.'] = meteorological_stations['Index No.'].fillna(0).astype(int)
#meteorological_stations['Index No.'] = meteorological_stations['Index No.'].astype(int)
meteorological_stations.rename(columns={'Index No.': 'index_no'}, inplace=True)

In [40]:
print(meteorological_stations)

      S.N.  index_no                Station Name       District  Province  \
0      1.0       101                  Kakerpakha        Baitadi       7.0
1      2.0       102         Baitadi (Gothapani)        Baitadi       7.0
2      3.0       103                Patan (West)        Baitadi       7.0
3      4.0       104                  Dadeldhura     Dadeldhura       7.0
4      5.0       105  Mahendra Nagar (Sundarpur)     Kanchanpur       7.0
..     ...       ...                         ...            ...       ...
575  576.0         0                   Taulihawa     Kapilbastu       5.0
576  577.0         0                     Thankot      Kathmandu       3.0
577  578.0         0          Tumlingtar Airport  Sankhuwasabha       1.0
578  579.0         0         Udayapur Gadi Radar       Udayapur       1.0
579    NaN         0                         NaN            NaN       NaN

                Type Automatic       Lon       Lat  Elev            Status  \
0      Precipitation       NaN  80.53816  29.65826   783               NaN
1        Climatology       NaN  80.41317  29.55744  1352               NaN
2        Climatology       NaN  80.54575  29.46714  1292  Temporary Closed
3           Synoptic       AWS  80.58775  29.30135  1879               NaN
4    Agrometeorology       NaN  80.23049  28.95477   197               NaN
..               ...       ...       ...       ...   ...               ...
575              AWS       AWS  83.07000  27.55000   NaN               NaN
576              AWS       AWS  85.20000  27.70000  1730               NaN
577    Aero-Synoptic       NaN  87.18580  27.31580   403               NaN
578              AWS       AWS  86.52000  26.93000  1175               NaN
579              NaN       NaN       NaN       NaN  4242               NaN

    Remarks
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
575     NaN
576     NaN
577     NaN
578     NaN
579     NaN

[580 rows x 12 columns]

In [41]:
selected_columns = ['index_no', 'Lon', 'Lat', 'Elev']

met_station = meteorological_stations[selected_columns]

In [42]:
print(met_station)

     index_no       Lon       Lat  Elev
0         101  80.53816  29.65826   783
1         102  80.41317  29.55744  1352
2         103  80.54575  29.46714  1292
3         104  80.58775  29.30135  1879
4         105  80.23049  28.95477   197
..        ...       ...       ...   ...
575         0  83.07000  27.55000   NaN
576         0  85.20000  27.70000  1730
577         0  87.18580  27.31580   403
578         0  86.52000  26.93000  1175
579         0       NaN       NaN  4242

[580 rows x 4 columns]

In [43]:
new_merged_df = pd.merge(combined_df, met_station, on='index_no', how='left')
new_merged_df = new_merged_df[['Date', 'index_no', 'Lat', 'Lon', 'Elev', 'max_temp', 'min_temp']]


# Renaming multiple columns at once
new_merged_df.rename(columns={
    'index_no': 'Station', 
    'max_temp': 'Max T',
    'min_temp': 'Min T',
    'Lat': 'Lat',
    'Lon': 'Long'
}, inplace=True)
# Display the merged DataFrame
print(new_merged_df)

             Date  Station       Lat      Long Elev  Max T  Min T
0      2011-07-10     1027  27.78868  85.89999  884   31.0   20.0
1      2011-07-11     1027  27.78868  85.89999  884   34.0   22.0
2      2011-07-12     1027  27.78868  85.89999  884   29.0   21.6
3      2011-07-13     1027  27.78868  85.89999  884   29.3   20.0
4      2011-07-14     1027  27.78868  85.89999  884   32.5   20.6
...           ...      ...       ...       ...  ...    ...    ...
652019 2015-07-27     1213  26.91295  86.53968  469   29.4   25.5
652020 2015-07-28     1213  26.91295  86.53968  469   29.0   23.6
652021 2015-07-29     1213  26.91295  86.53968  469   29.8   24.5
652022 2015-07-30     1213  26.91295  86.53968  469   28.0   23.2
652023 2015-07-31     1213  26.91295  86.53968  469   27.2   23.4

[652024 rows x 7 columns]

In [44]:
new_merged_df.to_csv(r'G:\fresh_start\paper\code_paper\main_data\raw_data\raw_data_from_tirtha_sir.csv')

In [3]:
raw_data_from_tirtha_sir = pd.read_csv(r'G:\fresh_start\paper\code_paper\main_data\raw_data\raw_data_from_tirtha_sir.csv')

In [10]:
print(raw_data_from_tirtha_sir)

        Unnamed: 0        Date  Station       Lat      Long  Elev  Max T  \
0                0  2011-07-10     1027  27.78868  85.89999   884   31.0
1                1  2011-07-11     1027  27.78868  85.89999   884   34.0
2                2  2011-07-12     1027  27.78868  85.89999   884   29.0
3                3  2011-07-13     1027  27.78868  85.89999   884   29.3
4                4  2011-07-14     1027  27.78868  85.89999   884   32.5
...            ...         ...      ...       ...       ...   ...    ...
652019      652019  2015-07-27     1213  26.91295  86.53968   469   29.4
652020      652020  2015-07-28     1213  26.91295  86.53968   469   29.0
652021      652021  2015-07-29     1213  26.91295  86.53968   469   29.8
652022      652022  2015-07-30     1213  26.91295  86.53968   469   28.0
652023      652023  2015-07-31     1213  26.91295  86.53968   469   27.2

        Min T
0        20.0
1        22.0
2        21.6
3        20.0
4        20.6
...       ...
652019   25.5
652020   23.6
652021   24.5
652022   23.2
652023   23.4

[652024 rows x 8 columns]

In [12]:


available_stations = raw_data_from_tirtha_sir['Station'].unique()
print(available_stations)
required_stations = [1201, 1401, 1225, 1218, 1316]

# Filter the DataFrame to keep only rows with stations in the required_stations list
filtered_df = raw_data_from_tirtha_sir[raw_data_from_tirtha_sir['Station'].isin(required_stations)]

# Display the filtered DataFrame
print(filtered_df)

[1027 1052  914  927  918 1071 1059 1102 1009  905 1005 1024 1055 1038
  922 1022 1114  906 1122 1111 1103 1124 1007 1121 1030 1014 1011 1073
 1029 1021 1010 1123 1118 1043 1004 1072 1036 1039 1057  911  902 1019
 1062 1016  909 1107 1083 1080 1001 1003 1204 1418 1310 1209 1319 1303
 1412 1316 1220 1408 1307 1311 1323 1222 1421 1227 1410 1407 1417 1416
 1422 1327 1215 1201 1301 1206 1401 1304 1212 1419 1223 1219 1216 1411
 1225 1405 1404 1320 1218 1314 1213]
        Unnamed: 0        Date  Station       Lat      Long  Elev  Max T  \
421656      421656  2014-04-01     1316  26.82044  87.15917   105   34.5
421657      421657  2014-04-02     1316  26.82044  87.15917   105   34.7
421658      421658  2014-04-03     1316  26.82044  87.15917   105   35.3
421659      421659  2014-04-04     1316  26.82044  87.15917   105   33.0
421660      421660  2014-04-05     1316  26.82044  87.15917   105   31.5
...            ...         ...      ...       ...       ...   ...    ...
636741      636741  1979-08-26     1218  27.83333  86.76667  3857   15.8
636742      636742  1979-08-27     1218  27.83333  86.76667  3857   11.0
636743      636743  1979-08-28     1218  27.83333  86.76667  3857   11.8
636744      636744  1979-08-29     1218  27.83333  86.76667  3857   15.4
636745      636745  1979-08-30     1218  27.83333  86.76667  3857   12.7

        Min T
421656   13.5
421657   15.0
421658   15.5
421659   20.5
421660   19.0
...       ...
636741    5.7
636742    6.2
636743    5.7
636744    6.8
636745    5.9

[15084 rows x 8 columns]

In [13]:
# Group by 'Station' and filter only the required stations
grouped_df = raw_data_from_tirtha_sir.groupby('Station').filter(lambda x: x.name in required_stations)

# Display the grouped and filtered DataFrame
print(grouped_df)

        Unnamed: 0        Date  Station       Lat      Long  Elev  Max T  \
421656      421656  2014-04-01     1316  26.82044  87.15917   105   34.5
421657      421657  2014-04-02     1316  26.82044  87.15917   105   34.7
421658      421658  2014-04-03     1316  26.82044  87.15917   105   35.3
421659      421659  2014-04-04     1316  26.82044  87.15917   105   33.0
421660      421660  2014-04-05     1316  26.82044  87.15917   105   31.5
...            ...         ...      ...       ...       ...   ...    ...
636741      636741  1979-08-26     1218  27.83333  86.76667  3857   15.8
636742      636742  1979-08-27     1218  27.83333  86.76667  3857   11.0
636743      636743  1979-08-28     1218  27.83333  86.76667  3857   11.8
636744      636744  1979-08-29     1218  27.83333  86.76667  3857   15.4
636745      636745  1979-08-30     1218  27.83333  86.76667  3857   12.7

        Min T
421656   13.5
421657   15.0
421658   15.5
421659   20.5
421660   19.0
...       ...
636741    5.7
636742    6.2
636743    5.7
636744    6.8
636745    5.9

[15084 rows x 8 columns]

In [15]:
filtered_df = filtered_df.drop(columns=['Unnamed: 0'])
filtered_df.to_csv(r'G:\fresh_start\paper\code_paper\main_data\raw_data\raw_filtered_data_from_tirtha_sir.csv')