In [1]:
import pandas as pd
import numpy as np

In [2]:

temperature_data = pd.read_csv('G:/fresh_start/main_thesis/data/saved_data/initial_all_data.csv')

In [3]:
print(temperature_data)

        Unnamed: 0 Geo_region  Station        Date      Max T      Min T  \
0                0   Mountain     1016  1990-01-01   9.578267  16.865993
1                1   Mountain     1016  1990-01-02  10.074733  12.336708
2                2   Mountain     1016  1990-01-03   8.822569  25.611077
3                3   Mountain     1016  1990-01-04  12.803830   6.503694
4                4   Mountain     1016  1990-01-05  10.202334  12.335740
...            ...        ...      ...         ...        ...        ...
216931      216931       Hill     1419  2022-12-27  21.000000   6.000000
216932      216932       Hill     1419  2022-12-28  19.500000   5.500000
216933      216933       Hill     1419  2022-12-29  18.500000   6.500000
216934      216934       Hill     1419  2022-12-30  20.000000   7.500000
216935      216935       Hill     1419  2022-12-31  20.000000   8.500000

            Avg T
0       13.222130
1       11.205721
2       17.216823
3        9.653762
4       11.269037
...           ...
216931  13.500000
216932  12.500000
216933  12.500000
216934  13.750000
216935  14.250000

[216936 rows x 7 columns]

In [4]:
temperature_data.apply(pd.isnull).sum()/temperature_data.shape[0]

Unnamed: 0    0.0
Geo_region    0.0
Station       0.0
Date          0.0
Max T         0.0
Min T         0.0
Avg T         0.0
dtype: float64

In [9]:


mountain_temp_data = temperature_data[temperature_data['Geo_region'] == 'Mountain'][['Station','Date', 'Max T', 'Min T', 'Avg T']]

hill_temp_data = temperature_data[temperature_data['Geo_region'] == 'Hill'][['Station','Date', 'Max T', 'Min T', 'Avg T']]

terai_temp_data = temperature_data[temperature_data['Geo_region'] == 'Terai'][['Station','Date', 'Max T', 'Min T', 'Avg T']]

In [11]:
print(hill_temp_data)

        Station        Date      Max T     Min T      Avg T
12052      1024  1990-01-01  10.926912 -1.563543   4.681685
12053      1024  1990-01-02  16.761749 -3.509041   6.626354
12054      1024  1990-01-03   3.463189  0.226358   1.844773
12055      1024  1990-01-04  10.073775 -5.198028   2.437874
12056      1024  1990-01-05  10.619989 -3.243091   3.688449
...         ...         ...        ...       ...        ...
216931     1419  2022-12-27  21.000000  6.000000  13.500000
216932     1419  2022-12-28  19.500000  5.500000  12.500000
216933     1419  2022-12-29  18.500000  6.500000  12.500000
216934     1419  2022-12-30  20.000000  7.500000  13.750000
216935     1419  2022-12-31  20.000000  8.500000  14.250000

[120520 rows x 5 columns]

In [19]:

hill_dict = {}

unique_stations = hill_temp_data['Station'].unique()

# Loop through the unique regions and filter the data for each region
for station in unique_stations:
    station_data = hill_temp_data[hill_temp_data['Station'] == station][['Date', 'Max T', 'Min T', 'Avg T']]
    station_data = station_data.set_index('Date')
    station_data.index = pd.to_datetime(station_data.index)
    hill_dict[station] = station_data


mountain_dict = {}

unique_stations = mountain_temp_data['Station'].unique()

# Loop through the unique regions and filter the data for each region
for station in unique_stations:
    station_data = mountain_temp_data[mountain_temp_data['Station'] == station][['Date', 'Max T', 'Min T', 'Avg T']]
    station_data = station_data.set_index('Date')
    station_data.index = pd.to_datetime(station_data.index)
    mountain_dict[station] = station_data




terai_dict = {}

unique_stations = terai_temp_data['Station'].unique()

# Loop through the unique regions and filter the data for each region
for station in unique_stations:
    station_data = terai_temp_data[terai_temp_data['Station'] == station][['Date', 'Max T', 'Min T', 'Avg T']]
    station_data = station_data.set_index('Date')
    station_data.index = pd.to_datetime(station_data.index)
    terai_dict[station] = station_data

In [20]:
print(terai_dict)

{1212:                 Max T  Min T      Avg T
Date
1990-01-01  22.200000    7.2  14.700000
1990-01-02  21.200000    4.0  12.600000
1990-01-03  22.200000    5.2  13.700000
1990-01-04  23.200000    4.1  13.650000
1990-01-05  24.100000    5.2  14.650000
...               ...    ...        ...
2022-12-27  24.400000    9.9  17.150000
2022-12-28  19.053177    8.5  13.776588
2022-12-29  18.825789    9.4  14.112894
2022-12-30  24.500000    9.8  17.150000
2022-12-31  24.400000    9.3  16.850000

[12052 rows x 3 columns]}